/** {
   border: 1px solid red !important;
}*/
header p{
  padding-top: 7px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  font-size: 15px;
  text-align: justify;
  width: 700px;
  padding-left: 0;
}

p{
  font-size: 20px;
  width: 600px;
  display: inline-block;
  text-align: left;
  line-height: 1.35em;
  color: #353538;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
a[href="https://www.nytimes.com/section/science/space"]{
  color: black;
  text-decoration: none;
}
a[href="https://www.nytimes.com/section/science/space"]:hover{
  text-decoration: underline;
  color: black;
  text-decoration-color: black;
}
a[href="https://www.nytimes.com/by/dennis-overbye"]{
  color: black;
  text-decoration: underline;
  text-decoration-color: #dadce0;
}

a:hover{
  text-decoration: none;
}

iframe{
  width: 600px;
  border: none;
}

nav{
  width: 100%;
  background-color: white;
  height: 45px;
  position: fixed;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.30);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.30);
  z-index: 10;
}

.snippet-small{
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #888;
  font-size: 14px;
}

#main-title{
  width: 390px;
  padding-top: 75px;
  margin-right: 50%;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: bold;
  font-style: italic;
  color: #121212;
  font-size: 30px;
  line-height: 1.5em;
  display: inline-block;
  text-align: left;
}

#author{
  font-weight: bold;
  font-size: 14px;
}

#date-icons{
  display: inline-block;
  width: 600px;


}
#f-gallery{
  width: 96%;
  text-align: left;
  line-height: 1.2em;
}
#ga-title{
  font-weight: bold;
  font-size: 24px;
}
#date{
  font-size: 0.875rem;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  vertical-align: middle;
  padding-top: 7px;
  float: left;

}
#ga-paragraph{
  color: #3a3a3b;
}
.nav-left-items{
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
}
.nav-button{
  position: absolute;
  top: 5px;
  right: 20px;
}

.button{
  height: 35px;
  margin-right: 5px;
  background-color: #627ba3;
  color: white;
  font-weight: bold;
  font-size: 11px;
  border-radius: 3px;
  border: solid 1px #2f4261;
  padding: 0 12px;
}
.nav-left{
  position: absolute;
  left: 5px;
  top: 8px;
}
.button:hover{
  background-color: #415980;
  transition-duration: 1s;
}

.middle-img{
  width: 100%;
}

.middle-img-smaller{
  display: none;
}

.gallery{
  width: 1000px;
  position: relative;
  display: inline-block;
}

.icons{
  float: right;

}

.icons-space{
  margin-left: 8px;
}

.container{
  width: 1180px;
	margin: 0 auto;
}

.center{
  text-align: center;

}
.right{
  text-align: right;
}

.left{
  text-align: left;
  margin: 0 auto;
  width: 600px;
}

.snippet{
  position: absolute;
  width: 230px;
  font-size: 14px;
}

.snippet-one{
  top: 210px;
  left: 20px;
}

.snippet-two{
  top: 210px;
  left: 275px;
}

.snippet-three{
  top: 210px;
  left: 520px;
}

.snippet-four{
  top: 210px;
  left: 765px;
}

.snippet-five{
  top: 500px;
  left: 20px;
}

.snippet-six{
  top: 500px;
  left: 275px;
}

.snippet-seven{
  top: 500px;
  left: 520px;
}

.snippet-eight{
  top: 500px;
  left: 765px;
}

.title{
  font-size: 22px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

.body-link{
  color: #326891;
  text-decoration-color: #96b3e0;
}
.nav-left-button{
  background: none;
  border: none;
  padding: 8px;
}
.nav-left-button:hover{
  background-color: #f7f7f7;
  transition-duration: 1s;
}
@media (max-width: 1420px) {
  .container{
    width: 950px;
    padding: 0;
  }
  #main-title{
    margin-right: 40%;
  }
}

@media (max-width: 1000px) {

  .middle-img{
    display: none;
  }

  .middle-img-smaller{
    display: block;
    width: 46em;
  }

  .snippet{
    position: absolute;
    width: 175px;
    font-size: 12px;
    padding-left: 2%;
  }

  .snippet-one{
    top: 190px;
    left: 0px;
  }

  .snippet-two{
    top: 190px;
    left: 190px;
  }

  .snippet-three{
    top: 190px;
    left: 380px;
  }

  .snippet-four{
    top: 190px;
    left: 570px;
  }

  .snippet-five{
    top: 500px;
    left: 0px;
  }

  .snippet-six{
    top: 500px;
    left: 190px;
  }

  .snippet-seven{
    top: 500px;
    left: 380px;
  }

  .snippet-eight{
    top: 500px;
    left: 570px;
  }
}
.line{
  width: 65px;
  color: #d2d2d6;
  opacity: 0.9;
}

@media (max-width: 1015px) {
  header p{
    padding-left: 2%;
    width: 90%;
  }

  #f-gallery{
    width: 96%;
  }

  .gallery{
    padding-left: 2%;
  }

  .container{
    width: 100%;
  }
}

@media (max-width: 900px) {
  p{
    width: 96%;
    padding-left: 2%;
  }
  #date-icons{
    padding-left: 2%;
    width: 96%;
  }
  .left{
    width: 92%;
  }
  .delete{
    display: none;
  }
}

@media (max-width: 735px) {

    header p{
      font-size: 13px;
    }
    #main-title{
      width: 100%;
      margin-right: 0;
      font-size: 24px;
      text-align: center;
    }
    .snippet-small{
      font-size: 11px;
    }
}
@media (max-width: 630px) {
    #main-title{
      width: 310px;
      text-align: left;
      margin-right: 45%;
    }
    .right{
      padding-left: 2%;
    }
}
