/** {
   border: 1px solid red !important;
}*/
header p{
  padding-top: 7px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  font-size: 14px;
  text-align: justify;
  width: 70%;
}

p{
  font-size: 24px;
  width: 50%;
  display: inline-block;
  text-align: left;
  line-height: 1.3em;
}

a[href="https://www.nytimes.com/by/dennis-overbye"]{
  color: black;
  text-decoration-color: #dadce0;
}

a[href="https://www.nytimes.com/by/dennis-overbye"]:hover{
  text-decoration: none;
}

#main-title{
  padding-top: 25px;
  font-size: 24px;
  text-align: left;
  padding-left: 25%;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: bold;
  font-style: italic;
  color: #121212;
  font-size: 30px;
  line-height: 1.5em;
}

#date{
  font-size: 0.875rem;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
}

.container{
  width: 70%;
	margin: 0 auto;
}

.center{
  text-align: center;
}

@media (max-width: 1000px) {
  p{
    width: 100%;
  }
  header p{
    width: 100%;
  }
}
