/** {
   border: 1px solid red !important;
}*/
header p{
  padding-top: 7px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  font-size: 14px;
  text-align: justify;
  width: 830px;
}

p{
  font-size: 24px;
  width: 600px;
  display: inline-block;
  text-align: left;
  line-height: 1.35em;
  color: #3a3a3b;
}

a[href="https://www.nytimes.com/by/dennis-overbye"]{
  color: black;
  text-decoration-color: #dadce0;
}

a:hover{
  text-decoration: none;
}

iframe{
  width: 600px;
  border: none;
}

#main-title{
  padding-top: 25px;
  font-size: 24px;
  text-align: left;
  padding-left: 25%;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: bold;
  font-style: italic;
  color: #121212;
  font-size: 30px;
  line-height: 1.5em;
}

#author{
  font-weight: bold;
}

#date-icons{
  display: inline-block;
  width: 600px;


}
#f-gallery{
  width: 100%;
  text-align: left;
  line-height: 1.2em;
}
#ga-title{
  font-weight: bold;
  font-size: 24px;
}
#date{
  font-size: 0.875rem;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  vertical-align: middle;
  padding-top: 7px;
  float: left;

}
#ga-paragraph{
  color: #3a3a3b;
}
.gallery{
  width: 100%;
  background: red;

}
.myTable{
  width: 100%;
}
.icons{
  float: right;

}

.icons-space{
  margin-left: 8px;
}

.container{
  width: 1180px;
	margin: 0 auto;
  position: relative;
}

.center{
  text-align: center;
}
.title{
  font-size: 24px;
  width: 50%;
  display: inline-block;
  text-align: left;
}

.body-link{
  color: #96b3e0;
  text-decoration-color: #96b3e0;
}

@media (max-width: 1420px) {
  .container{
    width: 950px;
  }
}

@media (max-width: 1420px) {
  .container{
    width: 950px;
  }
}
@media (max-width: 1015px) {
  .container{
    width: 100%;
  }
}

@media (max-width: 1300px) {
  p{
    width: 100%;
  }
  header p{
    width: 100%;
  }
  #date-icons{
      width: 100%;
  }
}
